body {
    margin: 5px;
}

input[type='file'] {
    border-style: none;
}

.show-container {
    margin: 0.5em -0.5em;
}

.show-item {
    width: 18rem;
    margin: 0.5em;
}

.show-image {
    max-width: 400px;
}
