@page
@model Festify.Promotion.Pages.IndexModel
@{
    Layout = "_Layout";
}

<h1>Festify Promotion System</h1>

<div>
    <a type="button" class="btn btn-primary" href="~/AddShow">Add Show</a>

    @foreach (var show in Model.Shows)
    {
        if (show.Description == null)
        {
            <div>
                <span>New Show</span>
            </div>
        }
        else
        {
            <div>
                <span>@show.Description.Title</span>
                <span>@show.ShowGuid</span>
            </div>
        }
    }
</div>

@section script
{
}