@page
@model IndexModel
@{
    ViewData["Title"] = "Acts";
}

<h1>Acts</h1>

<a type="button" class="btn btn-primary" href="~/Acts/@Guid.NewGuid().ToString()">Add Act</a>

<div class="d-flex show-container">
    @foreach (var show in Model.Acts)
    {
        <div class="card show-item">
            <img src="@Url.Content(show.ImageHash == null ? "~/images/NoImage.jpg" : $"~/content/{Uri.EscapeDataString(show.ImageHash)}")" class="card-img-top" alt="@show.Title">
            <div class="card-body">
                <h5 class="card-title">@show.Title</h5>
            </div>
            <div class="card-footer">
                <a href="~/Acts/@show.ActGuid" class="btn btn-primary">Edit</a>
                <a href="~/Acts/@show.ActGuid/Remove" class="btn btn-danger">Remove</a>
            </div>
        </div>
    }
</div>

@section scripts
{
}