@page
@model Festify.Promotion.Pages.IndexModel
@{
    Layout = "_Layout";
}

<h1>Festify Promotion System</h1>

<div>
    <a type="button" class="btn btn-primary" href="~/AddShow/@Guid.NewGuid().ToString()">Add Show</a>

    @foreach (var show in Model.Shows)
    {
        if (show.Description == null)
        {
            <div>
                <span>New Show</span>
            </div>
        }
        else
        {
            <div>
                <span><a href="~/AddShow/@show.ShowGuid">@show.Description.Title</a></span>
            </div>
        }
    }
</div>

@section script
{
}