@page "{ShowGuid}"
@model Festify.Promotion.Pages.ShowModel
@{
    Layout = "_Layout";
}

<h1>@(Model.AddShow ? "Add Show" : "Edit Show")</h1>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="Title">Title</label>
        <input class="form-control" asp-for="Title">
    </div>
    <div class="form-group">
        <label for="Date">Date</label>
        <input class="form-control" asp-for="Date">
    </div>
    <div class="form-group">
        <label for="City">City</label>
        <input class="form-control" asp-for="City">
    </div>
    <div class="form-group">
        <label for="Venue">Venue</label>
        <input class="form-control" asp-for="Venue">
    </div>
    <div class="form-group">
        <label for="Image">Image</label>
        <input class="form-control" asp-for="Image">
    </div>
    <button type="submit" class="btn btn-primary">@(Model.AddShow ? "Add" : "Save")</button>
    <a class="btn btn-light" href="~/">Cancel</a>
</form>